<div class="container" [style.margin-top.px]="30">

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Parent</h3>
                </div>
                <div class="panel-body" *ngIf="isShowing">
                    <!-- child component -->
                    <app-life-cycle-hook (newItemEvent)="updateCount($event)" [sumValue]="sumValueParent"></app-life-cycle-hook>

                    <hr>
                    <span>from here to end come from parent</span>
                    <hr>
                    <button type="button" class="btn btn-success" (click)="onToggle()">Toggle</button>

                    <h4>First number</h4>
                    <input type="number" class="form-control" #a>
                    <h4>Second number</h4>
                    <input type="number" class="form-control" #b>

                    <button type="button" class="btn btn-success" (click)="onSummary(a.value, b.value)">Summary</button>

                </div>



            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Parent</h3>
                </div>
                <div class="panel-body">
                    <app-other-life-cycle>
                        Value : toyota
                        <h2>H2 content</h2>
                        <h4 class="subTitle">H4 content</h4>
                        <p id="index">show ngContent by Id</p>
                        <h1>Just Selector</h1>
                        <div myAttr>for attributes</div>
                        <div course="angular">for attributes with its value</div>
                        <div att_1 att_2>Multi attributes </div>
                    </app-other-life-cycle>
                </div>
            </div>

        </div>

    </div>

</div>