<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Content for learning routing</h3>
                </div>
                <div class="panel-body">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    </div>

</div>

<hr>
<h3>switch page by button and routerlink</h3>
<button type="button" class="btn btn-primary" routerLink="/index">Home</button>
<button type="button" class="btn btn-default" routerLink="/contact">Contact</button>
<button type="button" class="btn btn-warning" routerLink="/about">About</button>
<hr>
<h3>switch page by event binding</h3>
<button type="button" class="btn btn-primary" (click)="navigate('index')">Home</button>
<button type="button" class="btn btn-default" (click)="navigate('contact')">Contact</button>
<button type="button" class="btn btn-warning" (click)="navigate('about')">About</button>


<app-footer></app-footer>>