<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products;let i = index" [routerLink]="['/product',item.id]">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price | currency }}</td>
            <td>{{item.status ? 'Available':'Not Available'}}</td>
        </tr>
    </tbody>
</table>